<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/main.css" rel="stylesheet" />
  </head>
  <body>
    <main class="flex w-full h-screen">
      <div class="w-64 flex flex-col border-r border-default px-2">
        <div class="action-bar sticky top-0">
          <button class="btn--icon">{{ template "search.html" . }}</button>
          <button class="ml-auto btn--icon">
            {{ template "panel-right.html" . }}
          </button>
          <button class="btn--icon">{{ template "plus.html" . }}</button>
        </div>

        <div class="overflow-y-auto text-sm flex flex-col items-start mt-2">
          {{ range .Boards }}
          <div
            class="flex gap-2 items-center p-2 text-ink-body hover-text-ink hover-subtle-1 rounded-lg w-full"
          >
            {{ template "hashtag.html" . }}
            <span class="truncate leading-snug"> {{.Name}} </span>
          </div>
          {{ end }}
        </div>
        <div class="action-bar mt-auto mb-2">
          <div
            class="flex items-center px-2 h-full rounded-full hover-subtle-1"
          >
            <button class="btn text-[1.5em]">
              {{ template "avatar.html" "A" }}
            </button>
            <span class="ml-2 text-ink-body text-xs">Andrei</span>
          </div>
          <button class="ml-auto btn--icon text-base">
            {{ template "cog.html" . }}
          </button>
        </div>
      </div>
      <div class="flex-1 flex flex-col px-6">
        <!-- Fixed Header -->
        <div class="sticky top-0 z-10">
          <div class="action-bar">
            <div class="text-xs">Syncwave Core</div>
            <button class="ml-auto btn--icon">
              {{ template "search.html" . }}
            </button>
            <button class="btn--icon">{{ template "plus.html" . }}</button>
          </div>
        </div>

        <!-- Scrollable Tasks Container -->
        <div class="flex-1 overflow-y-auto mt-2">
          <div class="flex gap-6 text-sm">
            <!-- Dynamic task columns with headers -->
            <div class="w-64">
              <div class="mb-2 text-ink-body text-2xs">Backlog</div>
              <div class="flex flex-col gap-2">
                {{ range seq 20 }} {{ template "boards/task-tile.html" . }} {{
                end }}
              </div>
            </div>
            <div class="w-64">
              <div class="mb-2 text-ink-body text-2xs">In Progress</div>
              <div class="flex flex-col gap-2">
                {{ range seq 4 }} {{ template "boards/task-tile.html" . }} {{
                end }}
              </div>
            </div>
            <div class="w-64">
              <div class="mb-2 text-ink-body text-2xs">Review</div>
              <div class="flex flex-col gap-2">
                {{ range seq 8 }} {{ template "boards/task-tile.html" . }} {{
                end }}
              </div>
            </div>
            <div class="w-64">
              <div class="mb-2 text-ink-body text-2xs">Done</div>
              <div class="flex flex-col gap-2">
                {{ range seq 20 }} {{ template "boards/task-tile.html" . }} {{
                end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
