@import "tailwindcss";

@theme {
  --text-4xs: 0.6875rem; /* 11px */
  --text-3xs: 0.75rem; /* 12px */
  --text-2xs: 0.8125rem; /* 13px */
  --text-xs: 0.875rem; /* 14px */
  --text-sm: 0.9375rem; /* 15px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 2rem; /* 32px */
  --text-4xl: 2.5rem; /* 40px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 4rem; /* 64px */
  --text-7xl: 5rem; /* 80px */
  --text-8xl: 6rem; /* 96px */
  --text-9xl: 8rem; /* 128px */

  --text-3xs--line-height: 1.5;
  --text-2xs--line-height: 1.5;
  --text-xs--line-height: 1.5;
  --text-sm--line-height: 1.5;
  --text-base--line-height: 1.5;
  --text-lg--line-height: 1.45;
  --text-xl--line-height: 1.4;
  --text-2xl--line-height: 1.3;
  --text-3xl--line-height: 1.25;
  --text-4xl--line-height: 1.2;
  --text-5xl--line-height: 1.1;
  --text-6xl--line-height: 1.05;
  --text-7xl--line-height: 1;
  --text-8xl--line-height: 1;
  --text-9xl--line-height: 0.95;
}

@layer base {
  :root {
    --color-white: oklch(100% 0 0deg);
    --color-gray-10: oklch(98.2% 0 0deg);
    --color-gray-30: oklch(96.4% 0 0deg);
    --color-gray-50: oklch(94.6% 0 0deg);
    --color-gray-70: oklch(92.8% 0 0deg);
    --color-gray-100: oklch(91% 0 0deg);
    --color-gray-150: oklch(87.4% 0 0deg);
    --color-gray-200: oklch(83.8% 0 0deg);
    --color-gray-250: oklch(80.2% 0 0deg);
    --color-gray-300: oklch(76.6% 0 0deg);
    --color-gray-350: oklch(73% 0 0deg);
    --color-gray-400: oklch(69.4% 0 0deg);
    --color-gray-450: oklch(65.8% 0 0deg);
    --color-gray-500: oklch(62.2% 0 0deg);
    --color-gray-550: oklch(58.6% 0 0deg);
    --color-gray-600: oklch(55% 0 0deg);
    --color-gray-650: oklch(51.4% 0 0deg);
    --color-gray-700: oklch(47.8% 0 0deg);
    --color-gray-750: oklch(44.2% 0 0deg);
    --color-gray-800: oklch(40.6% 0 0deg);
    --color-gray-850: oklch(37% 0 0deg);
    --color-gray-900: oklch(33.4% 0 0deg);
    --color-gray-930: oklch(31.6% 0 0deg);
    --color-gray-950: oklch(29.8% 0 0deg);
    --color-gray-970: oklch(28% 0 0deg);
    --color-gray-990: oklch(26.2% 0 0deg);
    --color-gray-995: oklch(24.4% 0 0deg);

    --color-black: oklch(0% 0 0deg);

    --color-bg: var(--color-white);
    --color-ink: var(--color-gray-900);
    --color-ink-body: var(--color-gray-600);
    --color-ink-detail: var(--color-gray-400);
    --color-border: var(--color-gray-50);
    --color-subtle-1: var(--color-gray-10);
    --color-subtle-2: var(--color-gray-30);
    --color-subtle-3: var(--color-gray-50);
    --color-subtle-4: var(--color-gray-70);

    @media (prefers-color-scheme: dark) {
      --color-bg: var(--color-gray-995);
      --color-ink: var(--color-gray-50);
      --color-ink-body: var(--color-gray-300);
      --color-ink-detail: var(--color-gray-500);
      --color-border: var(--color-gray-950);
      --color-subtle-1: var(--color-gray-990);
      --color-subtle-2: var(--color-gray-970);
      --color-subtle-3: var(--color-gray-950);
      --color-subtle-4: var(--color-gray-930);
    }
  }

  html,
  body {
    background: var(--color-bg);
    color: var(--color-ink);
    font-size: 16px;
    line-height: var(--text-base--line-height);
  }

  hr {
    color: var(--color-border);
  }
}

@layer utilities {
  /* Text */
  .text-ink {
    color: var(--color-ink);
  }

  .hover-text-ink {
    &:hover {
      color: var(--color-ink);
    }
  }

  .text-ink-detail {
    color: var(--color-ink-detail);
  }

  .text-ink-body {
    color: var(--color-ink-body);
  }

  .text-white {
    color: var(--color-white);
  }

  /* Border */

  .border-default {
    border-color: var(--color-border);
  }

  /* Subtle */
  .bg-default {
    background-color: var(--color-bg);
  }

  .subtle-1 {
    background-color: var(--color-subtle-1);
  }

  .subtle-2 {
    background-color: var(--color-subtle-2);
  }

  .subtle-3 {
    background-color: var(--color-subtle-3);
  }

  .subtle-4 {
    background-color: var(--color-subtle-4);
  }

  .hover-subtle-1 {
    &:hover {
      background-color: var(--color-subtle-1);
    }
  }

  .hover-subtle-2 {
    &:hover {
      background-color: var(--color-subtle-2);
    }
  }

  .hover-subtle-3 {
    &:hover {
      background-color: var(--color-subtle-3);
    }
  }

  .hover-subtle-4 {
    &:hover {
      background-color: var(--color-subtle-4);
    }
  }

  /* Buttons */
  .btn--icon {
    inline-size: 2em;
    block-size: 2em;

    color: var(--color-ink-body);
    border-radius: 50%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;

    &:hover {
      background-color: var(--color-subtle-2);
      color: var(--color-ink);
    }
  }

  /* Icons */
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }

  /* Layout */
  .action-bar {
    @apply flex items-center min-h-[2.5rem] min-h-[2.5rem];
  }
}
