@import "tailwindcss";

@theme {
  --color-gray-10: rgb(252, 252, 252);
  --color-gray-30: rgb(247, 247, 247);
  --color-gray-50: rgb(242, 242, 242);
  --color-gray-70: rgb(237, 237, 237);
  --color-gray-100: rgb(232, 232, 232);
  --color-gray-150: rgb(220, 220, 220);
  --color-gray-200: rgb(208, 208, 208);
  --color-gray-250: rgb(196, 196, 196);
  --color-gray-300: rgb(184, 184, 184);
  --color-gray-350: rgb(172, 172, 172);
  --color-gray-400: rgb(160, 160, 160);
  --color-gray-450: rgb(148, 148, 148);
  --color-gray-500: rgb(136, 136, 136);
  --color-gray-550: rgb(124, 124, 124);
  --color-gray-600: rgb(112, 112, 112);
  --color-gray-650: rgb(100, 100, 100);
  --color-gray-700: rgb(88, 88, 88);
  --color-gray-750: rgb(76, 76, 76);
  --color-gray-800: rgb(64, 64, 64);
  --color-gray-850: rgb(52, 52, 52);
  --color-gray-870: rgb(40, 40, 40);
  --color-gray-900: rgb(28, 28, 28);

  --color-ink: var(--color-gray-900);
  --color-ink-detail: var(--color-gray-450);
  --color-ink-body: var(--color-gray-650);

  --color-border: var(--color-gray-100);

  --color-bg: var(--color-white);
  --color-subtle-1: var(--color-gray-10);
  --color-subtle-2: var(--color-gray-30);
  --color-subtle-3: var(--color-gray-50);

  --text-xs: 0.878em;
  --text-xs--line-height: calc(1 / 0.878);
  --text-sm: 0.937em;
  --text-sm--line-height: calc(1.25 / 0.937);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125em;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25em;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5em;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875em;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25em;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3em;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75em;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5em;
  --text-7xl--line-height: 1;
  --text-8xl: 6em;
  --text-8xl--line-height: 1;
  --text-9xl: 8em;
  --text-9xl--line-height: 1;
}

@layer base {
  html,
  body {
    color: var(--color-ink);
    font-size: 16px;
    line-height: var(--text-base--line-height);
  }
}

@layer components {
  /* Buttons */
  .btn--icon {
    @apply text-gray-400 p-0.5;

    border-radius: 50%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
  }

  /* Text */
  .caption {
    @apply text-sm;
  }

  /* Icons */
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }

  /* Layout */
  .action-bar {
    @apply flex items-center px-2 min-h-[2.5rem] min-h-[2.5rem];
  }
}
