@import "tailwindcss";

@theme {
  --text-4xs: 0.6875rem; /* 11px */
  --text-3xs: 0.75rem; /* 12px */
  --text-2xs: 0.8125rem; /* 13px */
  --text-xs: 0.875rem; /* 14px */
  --text-sm: 0.9375rem; /* 15px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 2rem; /* 32px */
  --text-4xl: 2.5rem; /* 40px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 4rem; /* 64px */
  --text-7xl: 5rem; /* 80px */
  --text-8xl: 6rem; /* 96px */
  --text-9xl: 8rem; /* 128px */

  --text-3xs--line-height: 1.5;
  --text-2xs--line-height: 1.5;
  --text-xs--line-height: 1.5;
  --text-sm--line-height: 1.5;
  --text-base--line-height: 1.5;
  --text-lg--line-height: 1.45;
  --text-xl--line-height: 1.4;
  --text-2xl--line-height: 1.3;
  --text-3xl--line-height: 1.25;
  --text-4xl--line-height: 1.2;
  --text-5xl--line-height: 1.1;
  --text-6xl--line-height: 1.05;
  --text-7xl--line-height: 1;
  --text-8xl--line-height: 1;
  --text-9xl--line-height: 0.95;

  /* Gray */
  --color-gray-10: oklch(98.2% 0.0014 126deg);
  --color-gray-30: oklch(96.4% 0.0029 126deg);
  --color-gray-50: oklch(94.6% 0.0029 126deg);
  --color-gray-70: oklch(92.8% 0.0029 126deg);
  --color-gray-100: oklch(91% 0 0deg);
  --color-gray-150: oklch(87.4% 0 0deg);
  --color-gray-200: oklch(83.8% 0 0deg);
  --color-gray-250: oklch(80.2% 0 0deg);
  --color-gray-300: oklch(76.6% 0 0deg);
  --color-gray-350: oklch(73% 0 0deg);
  --color-gray-400: oklch(69.4% 0 0deg);
  --color-gray-450: oklch(65.8% 0 0deg);
  --color-gray-500: oklch(62.2% 0 0deg);
  --color-gray-550: oklch(58.6% 0 0deg);
  --color-gray-600: oklch(55% 0 0deg);
  --color-gray-650: oklch(51.4% 0 0deg);
  --color-gray-700: oklch(47.8% 0 0deg);
  --color-gray-750: oklch(44.2% 0 0deg);
  --color-gray-800: oklch(40.6% 0 0deg);
  --color-gray-850: oklch(37% 0 0deg);
  --color-gray-900: oklch(33.6% 0.0045 260deg);
  --color-gray-930: oklch(31.2% 0.0045 260deg);
  --color-gray-950: oklch(28.8% 0.0045 260deg);
  --color-gray-970: oklch(26.4% 0.0045 260deg);
  --color-gray-990: oklch(24% 0.0045 260deg);
  --color-gray-995: oklch(21.6% 0.0045 260deg);

  /* Semantics */
  --color-background: var(--theme-color-background);

  --color-ink: var(--theme-color-ink);
  --color-ink-body: var(--theme-color-ink-body);
  --color-ink-detail: var(--theme-color-ink-detail);
  --color-ink-placeholder: var(--theme-color-ink-placeholder);
  --color-ink-reverse: var(--theme-color-ink-reverse);

  --color-divider: var(--theme-color-divider);
  --color-divider-layout: var(--theme-color-divider-layout);

  --color-subtle-1: var(--theme-color-subtle-1);
  --color-subtle-2: var(--theme-color-subtle-2);
  --color-subtle-3: var(--theme-color-subtle-3);
  --color-subtle-4: var(--theme-color-subtle-4);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  [data-theme="light"] {
    --theme-color-background: var(--color-white);

    --theme-color-ink: var(--color-gray-900);
    --theme-color-ink-body: var(--color-gray-600);
    --theme-color-ink-detail: var(--color-gray-450);
    --theme-color-ink-placeholder: var(--color-gray-350);
    --theme-color-ink-reverse: var(--color-white);

    --theme-color-divider: var(--color-gray-50);
    --theme-color-divider-layout: var(--color-gray-150);

    --theme-color-subtle-1: var(--color-gray-10);
    --theme-color-subtle-2: var(--color-gray-30);
    --theme-color-subtle-3: var(--color-gray-50);
    --theme-color-subtle-4: var(--color-gray-70);
  }

  [data-theme="dark"] {
    --theme-color-background: var(--color-gray-995);

    --theme-color-ink: var(--color-gray-50);
    --theme-color-ink-body: var(--color-gray-300);
    --theme-color-ink-reverse: var(--color-black);
    --theme-color-ink-detail: var(--color-gray-450);
    --theme-color-ink-placeholder: var(--color-gray-650);

    --theme-color-divider: var(--color-gray-950);
    --theme-color-divider-layout: var(--color-gray-900);

    --theme-color-subtle-1: var(--color-gray-990);
    --theme-color-subtle-2: var(--color-gray-970);
    --theme-color-subtle-3: var(--color-gray-950);
    --theme-color-subtle-4: var(--color-gray-930);
  }

  html,
  body {
    @apply bg-background text-ink antialiased font-sans;
  }

  hr {
    @apply border-divider;
  }

  textarea {
    resize: none;
  }
}

@layer utilities {
  .input {
    @apply flex-grow w-full bg-transparent placeholder:text-ink-placeholder focus-visible:outline-none;
  }

  .input--bordered {
    @apply border border-divider rounded-md h-[2rem] px-2;
  }

  .btn--icon {
    @apply w-[2em] h-[2em] text-ink-body rounded-full aspect-square grid place-items-center hover:bg-subtle-2 hover:text-ink cursor-pointer;

    &.btn--icon--ink {
      @apply bg-ink hover:bg-gray-650 text-ink-reverse;
    }
  }

  .btn--block {
    @apply flex items-center justify-center rounded-2xl h-[2em] px-[0.5em] text-ink-body cursor-pointer hover:bg-subtle-2 hover:text-ink;
  }

  /* Icons */
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
}
